.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}

span {
    color: rgb(7, 68, 7)
}

img {
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/paper.jpg');
}